* {
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
}

.search-bar {
    width: 500px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 1rem;
    font-size: 16px;
}

.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
}