* {
    margin: 0;
    padding: 0;
}

.picture-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.pokemon-picture {
    height: 100%;
    min-width: 450px;
}

.picture-img {
    width: 100%;
}

.shiny-button {
    height: max-content;
    cursor: pointer;
    width: min-content;
    margin-left: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: transform ease 0.1s;
}

.shiny-button:hover {
    background-color: #f6f6f6;
}

.shiny-button:active {
    transform: scale(0.95);
}

.star-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}