* {
    padding: 0;
    margin: 0;
}

.pokemon-container {
    background-color: #f8f8f8;
}

.pokemon-type{
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    border: solid 2px white;
    width: max-content;
}

.pokemon-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    border-top: 1px solid #555;
}

.pokedex-entry {
    width: max-content;
    max-width: fit-content;
    font-size: 16px;
    font-style: italic;
    border: double black;
    padding: 0.5rem;
}

.stat-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 1420px) {
    .pokemon-stats {
        width: 100%;
        margin-right: 1.5rem;
    }

    .lists-container {
        flex-direction: column;
    }

    .type-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1120px) {
    .pokemon-info {
        flex-wrap: wrap;
    }

    .picture-container{
        justify-content: center;
        width: 100%;
    }

    .pokemon-evolution-chain {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    .pokemon-stats {
        width: max-content;
    }

    .type-effectiveness {
        width: max-content;
    }

    .lists-container {
        flex-direction: row;
    }

    .type-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 701px){
    .pokemon-stats {
        width: 100%;
    }

    .lists-container {
        flex-direction: column;
    }

    .type-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}