* {
    margin: 0;
    padding: 0;
}

.picture-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.pokemon-picture {
    min-width: 450px;
}

.picture-img {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.pokemon-id {
    font-size: 25px;
}

.shiny-button {
    height: max-content;
    cursor: pointer;
    width: min-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: transform ease 0.1s;
}

.shiny-button:hover {
    background-color: #f6f6f6;
}

.shiny-button:active {
    transform: scale(0.95);
}

.star-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pokemon-identification {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.pokemon-name {
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
}