* {
    margin: 0;
    padding: 0;
}

.pokemon-cry {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: min-content;
    gap: 5px;
}

.pokemon-cry-title {
    margin-left: 5px;
}