* {
    margin: 0;
    padding: 0;
}

.lists-container {
    height: max-content;
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.type-effectiveness {
    display: flex;
    justify-content: center;
}

.weaknesses-list, .resistances-list, .immunities-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.type-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.no-immunity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}