* {
    padding: 0;
    margin: 0;
}

.pokemon-container {
    background-color: #f8f8f8;
}

.pokemon-header {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-btn {
    border: none;
    background-color: #e0e0e0;
    width: min-content;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #bbb;
}

.pokemon-identification {
    display: flex;
}

.pokemon-name {
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
}

.pokemon-type{
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
    border: solid 2px white;
    width: max-content;
}

.pokemon-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture-container {
    width: max-content;
    margin-top: 1rem;
    margin-left: 10px;
}

.shiny-button {
    height: max-content;
    cursor: pointer;
    margin-right: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: transform ease 0.1s;
}

.shiny-button:hover {
    background-color: #f6f6f6;
}

.shiny-button:active {
    transform: scale(0.95);
}

.star-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
}

.pokedex-entry {
    width: max-content;
    max-width: fit-content;
    font-size: 16px;
    font-style: italic;
    border: double black;
    padding: 0.5rem;
}

.stat-section {
    display: flex;
    gap: 2rem;
}

.pokemon-stats, .type-effectiveness {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.stat-list {
    width: min-content;
}

.stat-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    min-width: 200px;
    padding: 2px;
    border-radius: 5px;
    margin: 2px;
}

.physical-stats {
    border: 1px solid black;
    width: 100%;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

.physical-stat-item {
    min-width: 200px;
    width: 100%;
}

.separator {
    margin: 2px;
}

.weaknesses-list, .resistances-list, .immunities-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pokemon-evolution-chain {
    display: flex;
}